<section class="material-half-bg">
    <div class="cover"></div>
</section>
<section class="login-content">
    <div class="logo">
        <h1>Tasks Management</h1>
    </div>
    <div class="login-box">
        <form class="login-form" action="index.html">
            <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user-plus"></i>SIGN UP</h3>
            <div class="form-group">
                <label class="control-label">FIRSTNAME</label>
                <input class="form-control" type="text" placeholder="Firstname" autofocus>
            </div>
            <div class="form-group">
                <label class="control-label">LASTNAME</label>
                <input class="form-control" type="text" placeholder="Lastname" autofocus>
            </div>
            <div class="form-group">
                <label class="control-label">USERNAME</label>
                <input class="form-control" type="text" placeholder="Username" autofocus>
            </div>
            <div class="form-group">
                <label class="control-label">PASSWORD</label>
                <input class="form-control" type="password" placeholder="Password">
            </div>
            <div class="form-group">
                <label class="control-label">RE-PASSWORD</label>
                <input class="form-control" type="password" placeholder="Re-Password">
            </div>

            <div class="form-group btn-container">
                <button class="btn btn-primary btn-block"><i class="fa fa-sign-in fa-lg fa-fw"></i>REGISTER</button>
            </div>
            <div class="mt-3 text-center semibold-text">
                <a [routerLink]="['/',Url.Login]">LOG IN</a>
            </div>
        </form>

        <!-- FORGET PASSWORD SECTION -->
        <form class="forget-form" action="index.html">
            <h3 class="login-head"><i class="fa fa-lg fa-fw fa-lock"></i>Forgot Password ?</h3>
            <div class="form-group">
                <label class="control-label">EMAIL</label>
                <input class="form-control" type="text" placeholder="Email">
            </div>
            <div class="form-group btn-container">
                <button class="btn btn-primary btn-block"><i class="fa fa-unlock fa-lg fa-fw"></i>RESET</button>
            </div>
            <div class="form-group mt-3 semibold-text">
                <p class="semibold-text mb-0"><a href="#" data-toggle="flip"><i class="fa fa-angle-left fa-fw"></i> Back
                        to Login</a></p>
            </div>
        </form>
    </div>
</section>